@import "tailwindcss";

:root {
  --background: #faf4eb;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #d37f59;
  --color-accent: #f4c27a;
  --color-link: #547AA5;
  --color-soft: #FAF4EB;
  --color-warmgray: #5A5353;
  --color-deep: #512C28;

}


body {
  background: var(--background);
  color: var(--foreground);
}

h1, h2 {
  @apply text-deep uppercase font-bold
}

h1{
  @apply text-4xl
}

p{
  @apply text-warmgray
}

.sections {
  @apply min-h-screen flex flex-col justify-center items-center gap-8
}
